
html {
  box-sizing: border-box;
}

.container {
  display: flex;
  background: blue;
  padding: 15px 30px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0 -15px;
  background: red;
}

.col {
  position: relative;
  border: none;
  background: green;
  font-size: 22px;
  font-family: hermit;

}

.col-1 {
  flex: 0 1 100%;
  max-width: 100%;
}
.col-2 {
  flex: 0 1 50%;
  max-width: 50%;
  /* box-shadow: -3px 0px 0px 1px red inset; */
}
.col-3 {
  flex: 0 0 50%;
  max-width: 50%;
}

/*
@media {min-width: 576px} {
  .contain {
    max-width: 540px;
  }
}

@media screen and {min-width: 768px} {
  container- {
    max-width: 720px;
  }
}

@media screen and {min-width: 992px} {
  container- {
    max-width: 960px;
  }
}

@media screen and {min-width: 1200px} {
  container- {
    max-width: 1120px;
  }
} */
